apiVersion: "k8s.cni.cncf.io/v1"
kind: NetworkAttachmentDefinition
metadata:
  name: vlan-{{ vlan.type }}-{{ vlan.name }}
  namespace: kube-system
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "type": "vlan",
      "master": "eth0",
      "vlanId": {{ vlan.vlan_id }},
      "ipam": {
        "type": "{{ vlan.type }}",
        {% if vlan.type == "static" -%}
        "addresses": [
          {
            "address": "{{ vlan.address }}",
            "gateway": "{{ vlan.gateway }}"
          }
        ]
        {% else -%}
        "subnet": "{{ vlan.subnet }}",
        "rangeStart": "{{ vlan.subnet.split('/')[0] | regex_replace('\d+$', vlan.range_start | default(10, true) | string) }}",
        "rangeEnd": "{{ vlan.subnet.split('/')[0] | regex_replace('\d+$', vlan.range_end | default(250, true) | string) }}",
        "routes": [
          { "dst": "0.0.0.0/0", "gw": "{{ vlan.gateway }}" }
        ],
        "gateway": "{{ vlan.gateway }}"
        {% endif -%}
      }
    }
