# Contains the talos machine configuration overrides for all nodes
version: v1alpha1
machine:
  network:
    interfaces:
      - deviceSelector:
          physical: true
        dhcp: false
        {% if enable_vlans -%}
        vlans:
          - vlanId: {{ mgmt_vlan_id }}
            dhcp: false
            routes:
              - network: 0.0.0.0/0
                gateway: {{ mgmt_gateway }}
          {% for vlan in vlan_config -%}
          - vlanId: {{ vlan.vlan_id }}
            dhcp: false
            addresses: []  # Multus will assign pod IPs
          {% endfor -%}
        {% else -%}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ mgmt_gateway }}
        {% endif %}

    nameservers:
        {% for ns in nameservers -%}
        - {{ ns }}
        {% endfor %}

    extraHostEntries:
      - ip: {{ cluster_shared_ip }}
        aliases:
            - {{ cluster_name | split('.') | first }}
            - {{ cluster_name }}

  install:
    disk: {{ talos_installation_disk_path }}
    image: {{ talos_installer_image_url }}
    wipe: {{ talos_installation_disk_wipe | default(false, true) }}

  time:
    disabled: false
    servers:
      {% for ts in timeservers -%}
      - {{ ts }}
      {% endfor %}

  sysctls:
    {% if enable_longhorn_support -%}
    vm.nr_hugepages: "1024"
    {% endif -%}
    net/ipv6/conf/all/disable_ipv6: "{% if disable_ipv6 %}1{% else %}0{% endif %}"
  
  {% if enable_longhorn_support -%}
  kernel:
    modules:
      - name: nvme_tcp
      - name: vfio_pci
  {% endif %}

cluster:
  apiServer:
    certSANs:
      - {{ cluster_name | split('.') | first }}
      - {{ cluster_shared_ip }}

  {% if install_cilium -%}
  network:
    cni:
      name: none
  proxy:
    disabled: true
  {% endif %}

  {% if install_cilium -%}
  inlineManifests:
    - name: cilium
      contents: |
        {% for line in cilium_manifest.stdout_lines -%}
        {{ line }}
        {% endfor -%}
  {% endif %}

  {% if enable_gateway_api -%}
  extraManifests:
    {% for gw_crd in gateway_api_crds %}
    - "{{ gateway_api_crds_base_url }}/gateway.networking.k8s.io_{{ gw_crd }}.yaml"
    {% endfor %}
  {%- endif -%}